#recent-album {
    display: flex;
    align-items: center;
    justify-content: center;
}


.upload-album-modal-content {
    /*outline: black solid 1px;*/
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    font-size: 1.3rem;
}

.close {
    color: #aaaaaa;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
