a {
    cursor: pointer;
}
.create-album {
    display: flex;
    justify-content: center;
    align-items: center;
}
#albums {
    /*outline: black solid 1px;*/
    display: flex;
    flex-direction: column;
}

.album-object {
    /*outline: black solid 1px;*/
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
    width: 90%;
    flex-wrap: nowrap;
}

.changeBtn {
    padding: 1vw;
    margin: 2vw;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    font-size: 1vw;
    width: 10vw;
    cursor: pointer;
    align-self: center;
}

#upload-album-button {
    font-size: 1.3vw;
    background-color: black;
    color: white;
    border: none;
    padding: 0 0 0 10px;
    cursor: pointer;
}

/* --------------------------ALBUM Modal ------------------------------------*/
.upload-album-modal-content {
    /*outline: black solid 1px;*/
    display: flex;
    z-index: 2;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    font-size: 1.3rem;
}




.close {
    color: #aaaaaa;
    font-size: 30px;
    font-weight: bold;
    align-self: flex-end;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


